body {
  /* border: 0.5px solid rgb(210, 24, 24); */
  padding-right: 5px;
  padding-left: 5px;
  height: 100vh;
}

/*   ---  HEADER  ---   */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.phone-number {
  color: #b20636;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*   ---  BANNER  ---   */
.banner-container {
  display: flex;
  justify-content: center;
  background-color: #acbcbb;
  height: 400px;
}

.banner-img {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/girl-on-phone.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 85%;
  height: 100%;
  color: white;
}

/*   ---  MAIN  ---   */
.main-container {
  height: 700px;
}

.main-content-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.checkmark {
  margin-right: 25px;
}

ul {
  list-style-type: none;
}

.content-container {
  height: 700px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #acbcbb;
  height: 700px;
}

.form {
  width: 100%;
}


/*   ---  TESTIMONIALS  ---   */
.testimonials-container {

}

.testimonial {
  background-color: #ebfff7;
  padding: 25px;
  border-left: 5px solid #e3e3e3;
}

.h-right {
  display: flex;
  justify-content: flex-end;
}


/*   ---  FOOTER  ---   */
.footer {
  color: white;
  height: 125px;
  background-color: grey;
}
